@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(246, 248, 252);
}

.container-1200 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.container-1000 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.container-800 {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.container-500 {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

@layer components {
  .dark-btn {
    @apply w-full rounded-md px-5 py-3 bg-primary-black text-primary-yellow;
  }
  .yellow-btn {
    @apply px-5 py-2 text-primary-black rounded-md bg-primary-yellow font-bold;
  }
}
